footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
    margin-top: auto;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
