.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    /* background-color: rgb(5, 15, 15); */
    width: 500px;
    height: 40px;
}
section.filters {
    color: white;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
    transition: opacity 0.3s;
    font-size: 18px;
}

.search-button:hover {
    opacity: 0.9;
}