.container {
    margin-top: 30px;
    margin-bottom: 30px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    max-width: 1000px;
    height: 40px;
    width: 90%;
}

section.filters {
    color: white;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.filters .locations,
section.filters .amenities{
    height: 100%;
    width: 25%;
    color: black;
    box-sizing: border-box;
    /* padding: 0 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.locations{
    border-right: #DDDDDD 1px solid;
}
.amenities h3, .locations h3{
    font-weight: 600;
    margin: 0;
}
.amenities h4, .locations h4{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    display: block;
}
.search-button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
    transition: opacity 0.3s;
    font-size: 18px;
}

.search-button:hover {
    opacity: 0.9;
}