/* Common styles for dropdown popover */
.amenities .popover, .locations .popover {
    list-style: none;
    display: none;
    position: absolute;
    top: 150%;
    background-color: #FAFAFA;
    width: 25%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
}

/* Styles for Locations and Amenities filters */
.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.locations h2,
.amenities h2 {
    font-size: 16px;
    margin: 0;
}
.locations{
    border-right: #DDDDDD 1px solid;
}
/* Additional styles for the rest of your layout */
.container {
    margin-top: 30px;
    margin-bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
    height: 40px;
    width: 90%;
}
.leave{
    color: black;
}
.filters {
    color: white;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.amenities,
.locations {
    height: 100%;
    width: 25%;
    color: black;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
    transition: opacity 0.3s;
    font-size: 18px;
}

.search-button:hover {
    opacity: 0.9;
}
